<div class="content">
     <form action="/comments" method="post">
        <input type="hidden" name="post_id" value="<%= params[:post_id] %>">
        <textarea name="content" cols="50" rows="5"></textarea><br>
        <input type="submit" value="add comment">
     </form>
</div>
