body {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.3em;
    color: #242729;
    background: #FFF;
    min-width: 500px;
    max-width: 2150px;
    margin: 0 auto;
}

.navigation {
    display: block-inline;
    margin: 0 auto;
    position: relative;
    background-color: #009900;
}

.navigation_bar {
    max-width: 960px;
    margin: 0 auto;
    background-color: #009900;
}

.stack_exchange {
  margin-top:10px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation li {
    float: right;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #111;
}

.search_bar {
  margin-top:10px;
}


.button_on_top:hover{
     background: #ff8533;
}

.button_on_top{
    margin-right: 0px;
    padding: 4px 10px 5px;
    font-size: 13px;
    background-color: #009900;
    border: none;
    color: white;
    display: inline-block;
}


.stack_overflow_logo {
    margin-top:30px;
    width: 150px;
    height: 150px;
    display: inline-block;
    border: 5px solid green;
    border-radius: 50px;
}

.logo{
    width: 200px;
    margin: 0 auto;
}

.question_answer {
    min-width: 300px;
    float: right;
    margin: 10px;
}

.content {
    position: relative;
    max-width: 1075px;
    margin: 2% auto;
}

.top_questions {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;

}

.user-info {
    width: 75%;
    margin: 1% auto;
    border: 1px dotted black;
    padding: 2%;
}

.single_post {
    width: 1075px;
    position: relative;
    display: inline-block;
    border-top: 1px solid #e4e6e8;
    border-bottom: 1px solid #e4e6e8;
    font-size: 16px;
}

.post_title {
    display: inline-block;
}

.answer_count {
    text-align: center;
    color: #848d95;
    display: inline-block;
}

.view_count {
    text-align: center;
    color: #848d95;
    display: inline-block;
}

.vote_count {
    text-align: center;
    color: #848d95;
    display: inline-block;
}

.post_links {


    text-decoration: none;
    color: #006600;

}

.tags {

    background-color: #ebffe3;
    color: #2fa94c;
    text-decoration: none;
    border-color: transparent;
    padding: 5px;

}

.title_container {

    vertical-align: top;
    display: inline-block;
    margin-left: 10px;

}

.post-body {
    margin-left: 100px;
    margin-right: 25px;
    padding-top: 50px;
    padding-bottom: 25px;
    width: 45%;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 15px;
    line-height: 1.3em;
}


.view_container {

    vertical-align: top;
    display: inline-block;
    margin-left: 10px;

}


nav {
    max-width: 960px;
    margin: 0px auto;
}


.vote-buttons {
    width: 5px;
    margin-bottom: 50px;
    display: inline-table;
    margin-top: -120px;
}


.post-tags {

    vertical-align: top;
    width: 45%;
    margin-left: 100px;



}

.post-add-comment {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 13px;
    vertical-align: top;
    width: 45%;
    margin-left: 100px;
    margin-bottom: 10px;


}

.answer-add-comment {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 13px;
    vertical-align: top;
    width: 45%;
    margin-left: 100px;
    margin-bottom: 10px;


}

.vote-count {

    padding-left: 10px;
    padding-bottom: 10px;
}

.user_row {
    overflow: hidden;
    width: 140px;
    text-align: center;
}

.comment-body {


    padding-top: 50px;
    padding-bottom: 25px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.3em;
    border-top: 1px solid #e4e6e8;
    margin-left: 100px;
    padding-left: 25px;

}










