body {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.3em;
    color: #242729;
    background: #FFF;
    min-width: 1075px;
    max-width: 2150px;
    margin: 0 auto;
}

.navigation {
    height: 25px;
    display: block-inline;
    margin: 0 auto;
    position: relative;
}

.navigation_bar {
    min-width: 1075px;
    margin: 0 auto;
    background-color: #333;
}

.stack_exchange {
  margin-top:10px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation li {
    float: right;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #111;
}

.search_bar {
  margin-top:10px;
}
.logo_question_answer{
    max-width: 1075px;
    margin: 0 auto;
}

.button_on_top:hover{
     background: #ff8533;
}

.button_on_top{
    margin-right: 0px;
    padding: 4px 10px 5px;
    font-size: 13px;
    background-color: #9fa6ad;
    border: none;
    color: white;
    display: inline-block;
}


.stack_overflow_logo {
    margin-top:30px;
    width: 200px;
    height: 50px;
    display: inline-block;
}

.content {
    position: relative;
    width: 1075px;
    margin: 0px auto;
}

.top_questions {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.user-info {
    width: 75%;
    margin: 1% auto;
    border: 1px dotted black;
    padding: 2%;
}

.single_post {
    width: 1075px;
    position: relative;
    display: inline-block;
    border-top: 1px solid #e4e6e8;
    border-bottom: 1px solid #e4e6e8;
    font-size: 16px;
}

.post_title {
    display: inline-block;
}

.answer_count {
    text-align: center;
    color: #848d95;
    display: inline-block;
}

.vote_count {
    text-align: center;
    color: #848d95;
    display: inline-block;
}

.post_links {


    text-decoration: none;
    color: #07c;

}

.tags{

    background-color: #E1ECF4;
    color: #39739d;
    text-decoration: none;
    border-color: transparent;
    padding: 5px;

}

.title_container {

    vertical-align: top;
    display: inline-block;
    margin-left: 10px;

}

#post-body {
    margin-left: 25px;
    margin-right: 25px;

}













