<div class="content">
  <form method="post" action="/session">
    <table>
      <tr>
        <td>Display Name:</td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><input type="text" name="user[display_name]"></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><input type="password" name="user[password]"></td>
      </tr>
    </table>
    <input type="submit" value="Login">
  </form>
</div>
