<div class="container">
  <form action="/users//new" method="post">
    Display Name<br>
    <input type="text" placeholder="J. Gordon" name="user[display_name]"><br>
    Email<br>
    <input type="email" placeholder="you@something.com" name="user[email]"><br>
    Password<br>
    <input type="password" placeholder="*******" name="user[password]"><br>
    <input type="submit" name="SIGN UP!"><br>
  </form>
</div>
