<div class='content'>
  <% if @posts.empty? %>
    <h1>Sorry no matches</h1>
  <% else %>
    <h1>Top Matches</h1>
    <% @posts.each do |matches| %>
      <div class="matching_post">
        <h2><a href="posts/ <%= matches.id %>"><%= matches.title %></h2>
      </div>
    <% end %>
<% end %>

</div>


