<div class="content">
    <h2> Ask a Question </h2>
  <%= erb :'/partials/_errors', layout: false, locals: { errors: @errors } %>
  <form action="/posts" method="post">
    <table>
      <tr>
        <td>Title:</td>
      </tr>
      <tr>
        <td><input type="text" name="post[title]" style="width:100%;"></td>
      </tr>
      <tr>
        <td>Body:</td>
      </tr>
      <tr>
        <td><textarea name="post[body]" rows="5" cols="50"></textarea>
      </tr>
      <tr>
        <td>Tags:</td>
      </tr>
      <tr>
        <td>
          <select multiple="multiple" name="tags[]" size='5' style="width:50%">
            <% @tags.each do |tag| %>
            <option value="<%= tag.name%>"><%= tag.name %></option>
          <% end %>
          </select>
        </td>
      </tr>
    </table><br>
    <input type="submit" value="Create Post">
    </form>
</div>
