<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
<!--   <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Linken-Jarale Overflow</title>
</head>
<body>
  <div class ="navigation">
    <nav>
      <ul class="navigation_bar">
        <li><form class="search_bar" action="/searches" method="post">
        <input type="text" name="search" placeholder="Search Q&A" value="" maxlength="256" size="32">
          <input type="submit" value="Submit">
        </form></li>
          <% if logged_in? %>
            <li><a href="/session/logout">log out</a>
            <li><a href="/users/<%= current_user.id %>"><%= current_user.display_name %></a>
          <% else %>
            <li><a href="/session/login">log in</a></li>
            <li><a href="/users/new">sign up</a></li>
          <% end %>
      </ul>
    </nav>
  </div>

  <div class="logo">
    <a href="/"><img class="stack_overflow_logo" src="/images/broccolli-overflow.png"></a>
  </div>
  <div class="question_answer">
      <a href="/"><button class="button_on_top">Questions</button></a>
      <a href="/tags"><button class="button_on_top">Tags</button></a>
      <a href="/users"><button class="button_on_top">Users</button></a>
      <a href="/posts/new"><button class="button_on_top">Ask A Question</button></a><br>
  </div>
  <%= yield %>
</body>
</html>
